







<!doctype html>

<html lang="fr">

	<head>
		<title>Page introuvable (code 404) </title>  
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" type="text/css" href="/daris/assets/style/.css/main.css"/>
		<script src="/daris/assets/script/jquery-2.1.4.js"></script>
		<script src="/daris/assets/script/jquery-ui.js"></script>
		<script src="/daris/assets/script/sha1.js"></script>
		<script src="/daris/assets/script/validate.js"></script>
	    <script>
	        
	        $.extend($.ui.dialog.prototype.options, {
	            autoOpen: false,
	            modal: true,
	            resizable: false,
	            width: 500,
	            show: {effect: 'fade', duration: 200},
	        });
	        
	        
	        $(function() {
        		
	 	        function changeTitle(title) {
	 	        	$("title").text(title);
	 	        	$("#wrapper-title").text(title);
	 	        }
	 	        
	 	       	
		        
	        });
	        
	    </script>
	</head>
	
	
	<body>
		
 
<div id="alert-container">
	<div id="alert-hold"></div>
</div>

	
<script>

$(function() {
	
	
	
});



var alert_container = $("#alert-container");


function alert_new(type, message)
{
	
	var alert = 
		$("<div>")
			.addClass("alert")
			.addClass(type);
			
	var alert_content = 
		$("<div>")
			.addClass("alert-content")
			.text(message);
			
	var alert_close = 
		$("<i>")
			.addClass("alert-close");
			
	
	alert.append(alert_content);
	alert.append(alert_close);
	alert_container.append(alert);
	
	
	alert.delay(3500).fadeOut(7000);
	
	alert_close.click(function() {
		$(this).closest(".alert").remove();
	});
	
	alert.hover(function() {
		alert.stop();
		alert.fadeIn(200);
	});
	
	alert.mouseleave(function() {
		alert.delay(1000).fadeOut(6000);
	});
}


function alert_new_error(message)
{
	alert_new("error", message);
}


function alert_new_success(message)
{
	alert_new("success", message);
}


function alert_new_info(message)
{
	alert_new("info", message);
}


function alert_new_loading(message)
{
	alert_new("loading", message);
}
	
// alert_new_loading("coucou");
// alert_new_loading("coucou");

</script>


		
			
		
		
			<div id="sb-container">
				






<nav id="sb">

	<div id="sb-head">
		
		<a id="sb-user" class="sb-ul-a" href="user/settings">
			<i id="sb-photo-default"></i>

			<span id="sb-user-name">
				test<br/>
				test
			</span>
        </a>
        
        
        <ul class="sb-ul">
        
            <li class="sb-li">
                <a class="sb-ul-a" href="user/logout" id="menu-disconnect">
                    <i class="fa-power-off sb-icon"></i>
                    Déconnexion
                </a>
            </li>
            
            
            <li class="sb-li">
                <a class="sb-ul-a">
                    <i class="fa-bell sb-icon"></i>
                    Notification
                </a>
            </li>
            
		</ul>
		
	</div>
	
	
	
	<ul id="sb-nav">
	
		<li class="sb-li">
			<a class="sb-ul-a" href="/daris/dashboard">
				<i class="fa-home sb-icon"></i>
				Tableau de bord
			</a>
		</li>
		
		
		<li class="sb-li">
			<a class="sb-ul-a" href="event/index">
				<i class="fa-calendar-o sb-icon"></i>
				Événements
			</a>
		</li>
		
		
		<li class="sb-li">
			<a class="sb-ul-a" href="#">
				<i class="fa-envelope sb-icon"></i>
				Message
			</a>
		</li>
		
	</ul>
	
</nav>
	
			</div>
		
		
		
		<div id="page">
		
			
			
				<div id="wrapper">
					<div id="wrapper-title">Page introuvable (code 404)</div>
				</div>
			
		
			<div id="content">
				





La page que vous souhaitez afficher nexiste pas

			</div>
		</div>
	</body>
	
</html>