@color-main: #0880C1;
@color-main2: lighten(@color-main, 30);
@color-bg: #ececec;
@color-div: silver;
@color-div-light:  #E1E1E1;
@color-text-em: #5F5F5F;
@color-hover: #9ecaed;
@color-contrast : orange;
@color-font: #5A5A5A;
@color-font-em: lighten(@color-font, 35);

@color-validate: #00c41a;
@color-cancel: red;

// Used by alert elements and invalid inputs
@error-color-bg: #F8DFDF;
@error-color-font: red;
@error-color-border: #FBBCBC;

// Sidebar
@sidebar-width: 220px;
@sidebar-padding: 6px;

// Input
@input-height: 30px;
@label-width: 34%;
@input-width: 62%;
@input-bg: lighten(@color-main2, 29);
@input-bordercolor: lighten(@color-main2, 18);
@input-focus-bg: white;
@input-focus-bordercolor: teal;
@input-btn-hover-bg: lighten(@color-main, 57);
@input-color-placeholder: @color-div-light;

@panel-padding: 10px;
@grid-padding: 8px;